<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:aspectj-autoproxy/>
    <bean id="accountService" class="cs544.bank.service.AccountService">
        <property name="accountDAO" ref="account_dao"></property>
        <property name="jmsSender" ref="jms_sender"></property>
        <property name="currencyConverter" ref="currency_converter"></property>
    </bean>
    <bean id="account_dao" class="cs544.bank.dao.AccountDAO"/>
    <bean id="currency_converter" class="cs544.bank.service.CurrencyConverter"/>
    <bean id="jms_sender" class="cs544.bank.jms.JMSSender"/>
    
    <bean id="daoLogger" class="cs544.bank.logging.Logger"/>
    
    <bean class="cs544.bank.service.aop.DAOLogAdvice">
        <property name="logger" ref="daoLogger"></property>
    </bean>
    <bean class="cs544.bank.service.aop.StopWatchAdvice">
        <property name="logger" ref="daoLogger"></property>
    </bean>
    <bean class="cs544.bank.service.aop.JMSLogAdvice">
        <property name="logger" ref="daoLogger"></property>
    </bean>


</beans>